In [13]:
import pandas as pd
import numpy as np

# Pandas Series

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [3]:
ds = pd.Series([1,2,3,4,5])
ds

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.
ds.to_list()

[1, 2, 3, 4, 5]

In [6]:
# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#    Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,9])
ds1 -ds2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [7]:
ds1+ds2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [8]:
ds1*ds2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [9]:
ds1/ds2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [10]:
# 4. Write a Pandas program to compare the elements of the two Pandas Series.
#    Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]
ds1>ds2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [12]:
# 5. Write a Pandas program to convert a dictionary to a Pandas series
dic = {'a':100,'b':200,'c':300,'d':400}
ds4 = pd.Series(dic)
ds4

a    100
b    200
c    300
d    400
dtype: int64

In [15]:
# 6. Write a Pandas program to convert a NumPy array to a Pandas series.
arr = np.array([1,2,3,4,5])
ds5 = pd.Series(arr)
ds5

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
# 7. Write a Pandas program to change the data type of given a column or a Series.
ds6 = pd.Series([100,200,'python',300.12,400])
ds6

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [18]:
ds7 = pd.to_numeric(ds6,errors='coerce')
ds7

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [22]:
# 8. Write a Pandas program to convert the first column of a DataFrame as a Series.
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
type(df['col1'])

pandas.core.series.Series

In [24]:
# 9. Write a Pandas program to convert a given Series to an array.
ds7.values

array([100.  , 200.  ,    nan, 300.12, 400.  ])

In [26]:
# 10. Write a Pandas program to convert Series of lists to one Series.
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
s1 = s.apply(pd.Series).stack().reset_index(drop = True)
s1

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [27]:
s.apply(pd.Series)

        0      1      2
0     Red  Green  White
1     Red  Black    NaN
2  Yellow    NaN    NaN

In [29]:
#11. Write a Pandas program to sort a given Series.
s1.sort_values()

4     Black
1     Green
0       Red
3       Red
2     White
5    Yellow
dtype: object

In [30]:
# 12. Write a Pandas program to add some data to an existing Series.
s = pd.Series(['100', '200', 'python', '300.12', '400'])
new_s = pd.concat([s, pd.Series([500, "php"])], ignore_index=True)

In [31]:
# Write a Pandas program to change the order of index of a given series.
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64